@use '../libs/vars.module' as *;

.homePage {
    max-width: 750px;
    margin: 0 auto;

    .pageHead {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

        span {
            @include pageHead;
        }

        button {
            @include textBTN;
        }
    }

    .ideasList {
        border: solid 1.5px rgba(getColor(dark, "text"), 0.4);
        border-radius: 10px;
        overflow: hidden;

        &>* {
            padding: 15px;
            border-bottom: solid 1.5px rgba(getColor(dark, "text"), 0.4);

            &:last-child {
                border: none;
            }
        }
    }

    .loadMoreBTN {
        @include textBTN;
        display: block;
        width: fit-content;
        margin: 40px auto 10px;
    }

    &.homePageLight {
        .pageHead {
            span {
                @include pageHead(light)
            }

            button {
                @include textBTN(light)
            }
        }

        .ideasList {
            border: solid 1.5px rgba(getColor(light, "text"), 0.6);

            &>* {
                border-bottom: solid 1.5px rgba(getColor(light, "text"), 0.6);

                &:last-child {
                    border: none;
                }
            }
        }

        .loadMoreBTN {
            @include textBTN(light)
        }
    }
}